*:2015 {
    root /var/www/html


    gzip {
        level 7
    }
    log stdout

    proxy /api/v1/student {$VUE_APP_STUDENTS_API_HOST}
    proxy /api/v1/student/studentHistory/ {$VUE_APP_STUDENTS_API_HOST}
    proxy /api/v1/student/studentOptionalProgramHistory/ {$VUE_APP_STUDENTS_API_HOST}
    proxy /api/v1/studentassessment {$VUE_APP_ASSESSMENT_API_HOST}
    proxy /api/v1/school {$VUE_APP_TRAX_API_HOST}
    proxy /api/v1/psi {$VUE_APP_TRAX_API_HOST}
    proxy /api/v1/gradstatus {$VUE_APP_GRADUATION_STATUS_API_HOST}
    proxy /api/v1/course {$VUE_APP_COURSE_API_HOST}   
    proxy /api/v1/studentcourse {$VUE_APP_COURSE_API_HOST}
    proxy /api/v1/studentexam {$VUE_APP_COURSE_API_HOST}
    proxy /api/v1/assessment {$VUE_APP_ASSESSMENT_API_HOST}
    proxy /api/v1/graduate {$VUE_APP_GRADUATION_API_HOST}
    proxy /api/v1/code {$VUE_APP_CODE_API_HOST}
    proxy /api/v1/ungrad {$VUE_APP_STUDENT_GRADUATION_API_HOST}
    proxy /api/v1/lgSc {$VUE_APP_STUDENT_GRADUATION_API_HOST}
    proxy /api/v1/algo {$VUE_APP_STUDENT_GRADUATION_API_HOST}
    proxy /api/v1/graduationreports {$VUE_APP_GRADUATION_REPORT_API_HOST}
    proxy /api/v1/signatures {$VUE_APP_GRAD_REPORT_API_HOST}
    proxy /api/v1/batch/dashboard {$VUE_APP_BATCH_GRADUATION_API_HOST}
    errors stdout
}
    