*:2015 {
    root /var/www/html
    try_files {path} /
    header / {
        Access-Control-Allow-Origin *
        X-Frame-Options "SAMEORIGIN"
        X-XSS-Protection "1;mode=block"
        Cache-Control "no-store, no-cache, must-revalidate, proxy-revalidate"
        X-Content-Type-Options "nosniff"
        Strict-Transport-Security "max-age=31536000"
        Content-Security-Policy "default-src 'self' *.devops.gov.bc.ca https://code.jquery.com/jquery-3.3.1.slim.min.js https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js https://gradstudent-api-77c02f-dev.apps.silver.devops.gov.bc.ca/*; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com https://use.fontawesome.com; font-src 'self' https://fonts.gstatic.com; img-src 'self' https://fonts.googleapis.com http://www.w3.org https://unsplash.com https://images.unsplash.com; connect-src 'self' https://gradstudent-api-77c02f-dev.apps.silver.devops.gov.bc.ca/* https://*.apps.silver.devops.gov.bc.ca"
        Referrer-Policy "same-origin"
        Feature-Policy "fullscreen 'self'; camera 'none'; microphone 'none'"
    }
    gzip {
        level 7
    }
    log stdout

    proxy /api/v1/student {$VUE_APP_STUDENTS_API_HOST}
    proxy /api/v1/studentassessment {$VUE_APP_STUDENT_ASSESSMENTS_API_HOST}
    proxy /api/v1/school {$VUE_APP_SCHOOL_API_HOST}
    proxy /api/v1/psi {$VUE_APP_PSI_API_HOST}
    proxy /api/v1/programmanagement {$VUE_APP_PROGRAM_MANAGEMENT_API_HOST}
    proxy /api/v1/gradstatus {$VUE_APP_GRADUATION_STATUS_API_HOST}
    proxy /api/v1/common {$VUE_APP_GRADUATION_COMMON_API_HOST}
    proxy /api/v1/course {$VUE_APP_COURSE_API_HOST}
    proxy /api/v1/studentcourse {$VUE_APP_COURSE_ACHIEVEMENT_API_HOST}
    proxy /api/v1/assessment {$VUE_APP_ASSESSMENT_API_HOST}
    proxy /api/v1/graduate {$VUE_APP_GRADUATION_API_HOST}
    proxy /api/v1/code {$VUE_APP_CODE_API_HOST}
    
    errors stdout
}
    