*:2015 {
    root /var/www/html

    header / {
        Access-Control-Allow-Origin *
        X-Frame-Options "SAMEORIGIN"
        X-XSS-Protection "1;mode=block"
        Cache-Control "no-store, no-cache, must-revalidate, proxy-revalidate"
        X-Content-Type-Options "nosniff"
        Strict-Transport-Security "max-age=31536000"
        Content-Security-Policy "default-src 'self' *.devops.gov.bc.ca https://code.jquery.com/jquery-3.3.1.slim.min.js https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js https://gradstudent-api-77c02f-dev.apps.silver.devops.gov.bc.ca/*; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com https://use.fontawesome.com; font-src 'self' https://fonts.gstatic.com; img-src 'self' data: https://fonts.googleapis.com http://www.w3.org https://unsplash.com https://images.unsplash.com; connect-src 'self' https://gradstudent-api-77c02f-dev.apps.silver.devops.gov.bc.ca/* https://*.apps.silver.devops.gov.bc.ca *.gov.bc.ca"
        Referrer-Policy "same-origin"
        Feature-Policy "fullscreen 'self'; camera 'none'; microphone 'none'"
    }
    gzip {
        level 8
    }

    log stdout
    proxy /auth {$VUE_APP_KEYCLOAK_AUTH_HOST} {
        header_upstream Cookie "SMSESSION=siteminder"
    }
    proxy /api/v1/student {$VUE_APP_STUDENTS_API_HOST} {
        header_upstream Cookie "SMSESSION=siteminder"
    }
    proxy /api/v1/student/studentHistory/ {$VUE_APP_STUDENTS_API_HOST} {
        header_upstream Cookie "SMSESSION=siteminder"
    }
    proxy /api/v1/student/studentHistory/batchid/ {$VUE_APP_STUDENTS_API_HOST} {
        header_upstream Cookie "SMSESSION=siteminder"
    }
    proxy /api/v1/student/studentOptionalProgramHistory/ {$VUE_APP_STUDENTS_API_HOST} {
        header_upstream Cookie "SMSESSION=siteminder"
    }
    proxy /api/v1/student/historyactivity {$VUE_APP_STUDENTS_API_HOST} {
        header_upstream Cookie "SMSESSION=siteminder"
    }
    proxy /api/v1/studentassessment {$VUE_APP_ASSESSMENT_API_HOST} {
        header_upstream Cookie "SMSESSION=siteminder"
    }
    proxy /api/v1/trax/school {$VUE_APP_TRAX_API_HOST} {
        header_upstream Cookie "SMSESSION=siteminder"
    }
    proxy /api/v1/trax/district {$VUE_APP_TRAX_API_HOST} {
        header_upstream Cookie "SMSESSION=siteminder"
    }
    proxy /api/v1/trax/psi {$VUE_APP_TRAX_API_HOST} {
        header_upstream Cookie "SMSESSION=siteminder"
    }
    proxy /api/v1/program {$VUE_APP_PROGRAM_API_HOST} {
        header_upstream Cookie "SMSESSION=siteminder"
    }
    proxy /api/v1/gradstatus {$VUE_APP_GRADUATION_STATUS_API_HOST} {
        header_upstream Cookie "SMSESSION=siteminder"
    }
    proxy /api/v1/course {$VUE_APP_COURSE_API_HOST} {
        header_upstream Cookie "SMSESSION=siteminder"
    }   
    proxy /api/v1/course/studentcourse {$VUE_APP_COURSE_API_HOST} {
        header_upstream Cookie "SMSESSION=siteminder"
    }
    proxy /api/v1/course/studentexam {$VUE_APP_COURSE_API_HOST} {
        header_upstream Cookie "SMSESSION=siteminder"
    }
    proxy /api/v1/assessment {$VUE_APP_ASSESSMENT_API_HOST} {
        header_upstream Cookie "SMSESSION=siteminder"
    }
    proxy /api/v1/graduate {$VUE_APP_GRADUATION_API_HOST} {
        header_upstream Cookie "SMSESSION=siteminder"
    }
    proxy /api/v1/code {$VUE_APP_CODE_API_HOST} {
        header_upstream Cookie "SMSESSION=siteminder"
    }
    proxy /api/v1/studentgraduation/undocompletion {$VUE_APP_STUDENT_GRADUATION_API_HOST} {
        header_upstream Cookie "SMSESSION=siteminder"
    }
    proxy /api/v1/studentgraduation/lgSc {$VUE_APP_STUDENT_GRADUATION_API_HOST} {
        header_upstream Cookie "SMSESSION=siteminder"
    }
    proxy /api/v1/studentgraduation/algo {$VUE_APP_STUDENT_GRADUATION_API_HOST} {
        header_upstream Cookie "SMSESSION=siteminder"
    }
    proxy /api/v1/graduationreports {$VUE_APP_GRADUATION_REPORT_API_HOST} {
        header_upstream Cookie "SMSESSION=siteminder"
    }
    proxy /api/v1/graduationreports/documentstatus {$VUE_APP_GRADUATION_REPORT_API_HOST} {
        header_upstream Cookie "SMSESSION=siteminder"
    }
    proxy /api/v1/reports/signatures {$VUE_APP_GRAD_REPORT_API_HOST} {
        header_upstream Cookie "SMSESSION=siteminder"
    }
    proxy /api/v1/batch/dashboard {$VUE_APP_BATCH_GRADUATION_API_HOST} {
        header_upstream Cookie "SMSESSION=siteminder"
    }
    proxy /api/v1/batch/dashboard/errors/ {$VUE_APP_BATCH_GRADUATION_API_HOST} {
        header_upstream Cookie "SMSESSION=siteminder"
    }   
    proxy /api/v1/batch {$VUE_APP_BATCH_GRADUATION_API_HOST} {
        header_upstream Cookie "SMSESSION=siteminder"
    }
    proxy /api/v1/studentgraduation/transcript/gradmessages {$VUE_APP_STUDENT_GRADUATION_API_HOST} {
        header_upstream Cookie "SMSESSION=siteminder"
    }
      
    errors stdout
}
    