.idea/**
*.iml
# Ignore VS Code settings
.vscode/**

#ignore .env files
backend/.env
frontend/.env
frontend/.env.development
frontend/.env.production

#ignore modules
backend/node_modules
backend/src/config/local.json
